@charset "utf-8";
body ul {
	line-height: 50px;
}
body {
    background-image: url(institute130.jpg);
    background-size: 1950px 1300px;
    color: #000000;
    font-family: Georgia, "Times New Roman", Times, serif;
    background-repeat: no-repeat;
}


body h1 {
    color: #00E878;
    font-family: "ＤＦＰ超極太ゴシック体";
}

.name_top {
    font-size: large;
    background-color: #00E878;
    text-align: left;
    width: 285px;


 　 height: 25px;
    color: #FFFFFF;

}
