@charset "utf-8";
body h1 {
	color: #F9BC07;
}
.key  {
    color: #D7FFFD;
    background-color: #37C8F4;
    font-size: x-large;
    font-family: "ＤＦ超極太ゴシック体";
}

body p img {
    border: 10px ridge #4BFF4E;
    width: auto;
}


body  {
    background-image: url(%E6%95%99%E5%AE%A4%E3%81%AE%E5%89%8D%E3%81%AE%E6%96%B9%EF%BC%88%E6%97%A5%E4%B8%AD%EF%BC%89.jpg);
    background-repeat: no-repeat;
    color: #000000;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.name {
    font-size: large;
    background-color: #F9BC07;
    text-align: left;
    width: 285px;

 　 height: 25px;
    color: #FFFFFF;

}
